
.navbar {
    background: #ff4444 !important;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFF;
  }

  .navbar-toggler {
    background: #dd3333;
  }

  .navbar-light .navbar-brand {
    color: #FFF;
  }
  .nav-link, .active>.nav-link{
    color: #FFF;
  }
