<li class="movie-card">
  <div class="movie-img">
    <!-- <img src="https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg" alt=""> -->
  </div>
  <div class="movie-content">
    <h2>Interstellar</h2>
    <div class="movie-category">
      Adventure, Drama, Scifi
    </div>
    <div class="movie-summary">
      2017
    </div>
    <p class="movie-actors">Matthew McConaughey, Anne Hathaway, Jessica Chastain</p>
    <button class="movie-watch-btn">
      <i class="fas fa-play"></i> View Details
    </button>
  </div>
</li>
