<div style="padding: 50px 50px;">

  <div class="expanded align-center details-page">
    <div id="back">
      <img />
    </div>
    <div class="column small-11 large-8 movie-card">
      <div class="row">
        <div class="column small-12 medium-4 text-center">
          <div class="poster-float">
            <img src="http://placehold.it/350x500">
            <span class="badge alert">1.6</span>
          </div>
        </div>
        <div class="column">
          <h2 class="title">Shawshank Redemption</h2>
          <h5 class="tag-line">This will be the best picture in imdb for longest time.</h5>
          <div class="details">
            <div class="column small-6">
              <b>Original Release:</b> 2017

            </div>
            <div class="column small-6">
              <b>Running Time:</b> 160 min
            </div>

          </div>
        </div>
      </div>
      <div class="storyline">
        <div class="column">
          <h2>Storyline</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac quam neque. Suspendisse in imperdiet sem.
            Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Mauris justo sem, dignissim et tempus sit amet, dictum ut elit. Aliquam pharetra risus dui, ut
            egestas tellus tincidunt sit amet. Phasellus at libero sit amet leo aliquam cursus id id sapien. Nunc in
            augue nibh. Sed sit amet ornare sem, at tempus erat. In hac habitasse platea dictumst. Nam elementum
            molestie nunc et luctus. Praesent luctus laoreet dui, vel faucibus elit condimentum nec. Mauris pharetra,
            quam id faucibus consectetur, tellus nibh vulputate nisl, eget tincidunt nunc massa ac odio.
            Donec vel felis nec quam mattis aliquam. Vestibulum vulputate arcu in elementum feugiat. Curabitur non
            vehicula risus. In quis convallis turpis, quis tristique nisl. Nulla eget di
          </p>
        </div>
      </div>

      <div class="storyline">
        <div class="column">
          <h2>Cast</h2>
        </div>
      </div>
      <div class="movie-images">

        <div class="cloumns small-12">

          <div class="images scroll-behavior">

            <div class="movie-new small-4">
              <img src="http://placehold.it/150x200" />
              <div class="movie-title">Fantasy</div>
              <div class="movie-lead">Fantasy, 2017</div>
            </div>
            <div class="movie-new small-4">
              <img src="http://placehold.it/150x200" />
              <div class="movie-title">Fantasy</div>
              <div class="movie-lead">Fantasy, 2017</div>
            </div>

          </div>
        </div>
      </div>

      <hr>


    </div>
    <!-- / Movie Card  -->
  </div>
</div>
