@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);

* {
  font-family: 'Fredoka One', cursive !important;
}

.auto-grid {
  --auto-grid-min-size: 16rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
  list-style-type: none;
}

.auto-grid li.movie-card {
  text-align: center;
  font-size: 1.2rem;
  // background: #eb4d4b;
  color: #ffffff;
}
