<app-navbar></app-navbar>

<div class="row">
    <div class="col-xl-9">
      <div id="ht-tm-maincolumn" class="ht-tm-maincolumn">
        <div class="ht-tm-componentsblock">


        </div>

      </div>
    </div>

    <div class="col-xl-3">
      <div id="ht-tm-sidenav" class="ht-tm-sidenav fixed">
        <a class="ht-tm-toggle-sidenav" href="#!"><span class="fas fa-minus"></span></a>

        <div class="ht-tm-sidenav-title">
          <span class="ht-tm-sidenav-title-text">
            Apply modifier classes
          </span>
          <span class="ht-tm-sidenav-title-bar"></span>
          <a href="#!" class="ht-tm-sidenav-title-bar-help" data-toggle="popover" data-trigger="focus" data-placement="top" title="" data-content="Here you can switch the component's modifier classes for color and size. Eg. btn-primary, btn-secondary, btn-lg, btn-sm, etc. Hover over the buttons to see which class they stand for. Classes will only switch where applicable." data-original-title="Modifier classes"><span class="fas fa-question-circle"></span></a>
        </div>

        <div class="ht-tm-sidenav-modifiers">
          <div class="ht-tm-sidenav-colorpicker">
            <a href="#!" data-colorpicker="1" class="ht-tm-colorpicker-btn btn btn-primary" title="Primary color"><span class="fas fa-check"></span></a>
            <a href="#!" data-colorpicker="2" class="ht-tm-colorpicker-btn btn btn-secondary" title="Secondary color">&nbsp;</a>
            <a href="#!" data-colorpicker="3" class="ht-tm-colorpicker-btn btn btn-success" title="Success color">&nbsp;</a>
            <a href="#!" data-colorpicker="4" class="ht-tm-colorpicker-btn btn btn-info" title="Info color">&nbsp;</a>
            <a href="#!" data-colorpicker="5" class="ht-tm-colorpicker-btn btn btn-warning" title="Warning color">&nbsp;</a>
            <a href="#!" data-colorpicker="6" class="ht-tm-colorpicker-btn btn btn-danger" title="Danger color">&nbsp;</a>
            <a href="#!" data-colorpicker="7" class="ht-tm-colorpicker-btn btn btn-dark" title="Dark color">&nbsp;</a>
            <a href="#!" data-colorpicker="8" class="ht-tm-colorpicker-btn btn btn-light" title="Light color">&nbsp;</a>
          </div>
          <div class="ht-tm-sidenav-size">
            <a href="#!" data-sizepicker="sm" class="ht-tm-sizepicker btn btn-outline-primary" title="-sm- class (where available)">Small <span class="fas fa-check"></span></a>
            <a href="#!" data-sizepicker="default" class="ht-tm-sizepicker btn btn-outline-primary active-size" title="Default size">Default <span class="fas fa-check"></span></a>
            <a href="#!" data-sizepicker="lg" class="ht-tm-sizepicker btn btn-outline-primary" title="-lg- size (where available)">Large <span class="fas fa-check"></span></a>
          </div>
        </div>

        <div class="ht-tm-sidenav-title mt-3">
          <span class="ht-tm-sidenav-title-text">
            Get the markup
          </span>
          <span class="ht-tm-sidenav-title-bar"></span>
          <a href="#!" class="ht-tm-sidenav-title-bar-help" data-toggle="popover" data-trigger="focus" data-placement="top" title="" data-content="Toggle the Picker and Inspector here. The Picker allows you to copy a component's source code directly into the clipboard. The Inspector will display the source code in a dialog. Activate a tool, then click on components." data-original-title="Picker / Inspector"><span class="fas fa-question-circle"></span></a>
        </div>

        <div class="ht-tm-sidenav-mainbuttons">
          <a href="#!" id="ht-tm-picker" class="btn btn-outline-primary mr-1 text-left my-1  ht-tm-picker-toggled" title="Toggle Code Picker">
            <span class="fas fa-eye-dropper mr-xl-2"></span>
            <span class="hidden-lg-down">Picker</span>
          </a>
          <a href="#!" id="ht-tm-inspector" class="btn btn-outline-primary  my-1 text-left ht-tm-picker-toggled" title="Toggle Code Inspector">
            <span class="fas fa-crosshairs mr-xl-2"></span>
            <span class="hidden-lg-down">Inspector</span>
          </a>
        </div>

        <div class="ht-tm-sidenav-title mt-3">
          <span class="ht-tm-sidenav-title-text">
            Quicknav
          </span>
          <span class="ht-tm-sidenav-title-bar"></span>
        </div>

      </div>

    </div>
  </div>
